body {
  padding:0;
  margin:0;
}

.avatar { width: 100px; border: none;}

.poster { width: 100px; border: none;}

.serials { float: right;}



.base { height: 50px; background-color: #92A1E1; }

.logout {color: white;
  margin: 10px;
  font-family: arial;
  float: right;
  text-decoration: none;
  text-transform: uppercase;}



ul {
 float: left;
 transform: scaleX(-1);

}

li{
  display: inline-block;
  background: url(/static/images/star-off-big.png);
  background-repeat: no-repeat;
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
  }

li:hover {
  background: url(/static/images/star-on-big.png);
  background-repeat: no-repeat;
  background-size: 35px 35px;
  width: 35px;
  height: 35px;
}

label {
  opacity: 0;

}


input[type=radio] {

  width:100%;
  height:100%;

}

input[type=radio]:checked {
  background: url(/static/images/star-on-big.png);
  background-repeat: no-repeat;
  background-size: 35px 35px;
  width: 35px;
  height: 35px;

}


