<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'scripts.js' %}"></script>
</head>
<body>

{% block header %}
<div class="base">

<a href="http://127.0.0.1:8000/accounts/logout/" class="logout">Выйти</a>
<a href="http://127.0.0.1:8000/profile" class="logout">Моя страница</a>


{% endblock %}
</div>

{% block content %}

{% endblock %}
</body>
</html>