<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить информацию</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% block content %}

<h1>Изменить информацию</h1>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Update" />
    </form>

{% endblock %}

</body>
</html>