<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% block content %}
<p>{{ profiles.profile_name }}</p>
<img src="{{ MEDIA_ROOT }}{{ profiles.avatar }}" class="avatar">
<p>
<a href = "{% url 'serial_list_url' %}">Все сериалы</a>
</p>
<p>
<a href = "{% url 'favorite_serial_list_url' %}">Мои сериалы</a>
</p>

<p>
<a href = "{% url 'favorite_serial_new_url' %}">Добавить любимые сериалы</a>
</p>

<p>
<a href = "{% url 'profile_info_update_url' pk=profiles.id %}">Изменить информацию о себе</a>
</p>

<p>
<a href = "{% url 'serial_new_url' %}">Добавить новый сериал</a>
</p>

<div class="serials">
{% for serial in serials %}
    <p>{{ serial.title }}</p>
    <img src="{{ MEDIA_ROOT }}{{ serial.poster }}" class="poster">
{% empty %}
    <p>Нет сериалов</p>
{% endfor %}
</div>


{% endblock %}
</body>
</html>