<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Внимание</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

{% block content %}

<p>Вы уже выбирали этот сериал.</p>
<p>
Вернитесь и <a href = "{% url 'favorite_serial_new_url' %}">выберите другой сериал</a>
</p>

{% endblock %}

</body>
</html>