<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favorite Serial</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


{% block content %}

<h1>Мои сериалы</h1>


	{% for favoriteserial in object_list %}


    <a href="{{ favoriteserial.serial.get_absolute_url }}" class="poster">{{ favoriteserial.serial.title }}</a> <br>
    <img src="{{ MEDIA_ROOT }}{{ favoriteserial.serial.poster }}" class="poster"> <br><br>

	{% endfor %}

{% endblock %}
</body>
</html>