<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить любимые сериалы</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


{% block content %}

<h1>Добавить любимые сериалы</h1>

    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Save" />
    </form>

{% endblock %}

</body>
</html>