{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подробнее о сезоне</title>
     <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% block content %}
<p>проверка</p>
{{ season.description }}





{% endblock %}
</body>
</html>