
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление нового сериала</title>
</head>
<body>

{% block content %}
<p>Добавление нового сериала</p>

    <form action="{% url 'serial_new_url' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      {{ starform.as_p }}
      <input type="submit" value="Добавить" />
    </form>



{% endblock %}

</body>
</html>