<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serials</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>


{% block content %}
<h1>Все сериалы</h1>


	{% for serial in object_list %}


    <a href="{{ serial.get_absolute_url }}" class="poster">{{ serial.title }}</a> <br>
    <img src="{{ MEDIA_ROOT }}{{ serial.poster }}" class="poster"> <br><br>

	{% endfor %}

{% endblock %}
</body>
</html>