{% extends 'base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подробнее о сериале</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
     <script src="{% static 'scripts.js' %}"></script>

</head>
<body>
<p>Сериал подробно</p>

{% block content %}
<h1>{{ serial.title }}</h1>
<img src="{{ MEDIA_ROOT }}{{ serial.poster }}" class="poster">
<p>Дата выхода: {{ serial.year }}</p>
<p>Страна: {{ serial.country }}</p>
<p>{{ serial.description }}</p>

<p>Список сезонов:</p>
{% for season in seasons %}
<a href="{% url 'season_detail_url' season.serial.slug season.number %}">{{season.number}} сезон</a>

{% endfor %}
{{ slug }}
<p>Средний рейтинг сериала: {{ raiting.star__avg}}</p>
<p>Моя оценка сериала: {{ rg }}</p>
{{ res }}



 <form action="{% url 'add_rating' %}" method="post" name="rating">
    {% csrf_token %}
    <input type="hidden" value="{{ serial.id }}" name="movie">
    <input type="hidden" value="{{profiles}}" name="profile">

{% for field in form %}

    {{ field }}

{% endfor %}

</form>
<br>

<!--     <form action="{% url 'add_rating' %}" method="post" name="rating">-->

<!--                            {% csrf_token %}-->
<!--                            <input type="hidden" value="{{ serial.id }}" name="movie">-->
<!--                             <input type="hidden" value="{{profiles}}" name="profile">-->
<!--                            <span class="rating">-->
<!--                                {% for k, v in star_form.fields.star.choices %}-->
<!--                                    <input id="rating{{ v }}" type="radio" name="star"-->
<!--                                           value="{{ k }}">-->
<!--                                    <label for="rating{{ v }}">{{ k }}</label>-->
<!--                                {% endfor %}-->
<!--                            </span>-->

<!--                        </form>-->

{% endblock %}


</body>
</html>